.DS_Store
data/EPA_AQI_Data/ca_aqi_epa_1999_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_1999-2017_monthly.csv
data/EPA_AQI_Data/ca_aqi_epa_1999-2017_processed_daily.csv.csv
data/EPA_AQI_Data/ca_aqi_epa_1999-2017_weekly.csv
data/EPA_AQI_Data/ca_aqi_epa_2000_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2001_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2002_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2003_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2004_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2005_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2006_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2007_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2008_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2009_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2010_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2011_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2012_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2013_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2014_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2015_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2016_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2017_daily.csv
data/EPA_AQI_Data/ca_aqi_epa_2021_daily.csv
data/medical/hematopoietic_cancers.csv
data/medical/injuries_accidents.csv
data/medical/pediatric_vasculitis.csv
data/medical/resp_cardio.csv
data/medical/type_1_diabetes.csv
data/modeling_data/modeling_data_2022-10-16.csv
data/modeling_data/modeling_data_2022-10-18.csv
data/PM25_monthly_zipcode_WUStL_2000-2018/pm25_EDA.twb
data/PM25_monthly_zipcode_WUStL_2000-2018/UW_pm25_zip_monthly_anand_2000-2018-v2.csv
data/PM25_monthly_zipcode_WUStL_2000-2018/UW_pm25_zip_monthly_anand_2000-2018-v2.hyper
data/joined_data/joined_datetime_ym_with_income_10-9-22.parquet
data/joined_data/joined_filtered_data.parquet
data/joined_data/joined_open_schools_only_10-10-22.parquet
data/joined_data/joined_data_fixed_counties_10-6-22.parquet
